body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}
#grid {
  display: grid;
  width: 640px; /* adjust as you like */
  height: 640px;
  border: 1px solid #ccc;
}

.gridcell {
  width: auto; /* 320 / 16 = 20 */
  height: auto;
  border: 1px solid; /* optional */
  box-sizing: border-box;
  transition: background-color 0.2s ease-out; /* smooth color transition */
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#buttonContainer {
  display: flex;
  gap: 10px;
}

#clearButton {
  position: relative;
  top: -20px;
  left: 80%;
  z-index: 10px;
  padding: 5px 10px;
  transform: translateX(-50%);
}
#snake {
  position: relative;
  top: -20px;
  left: 60%;
  z-index: 10px;
  padding: 5px 10px;
  transform: translateX(-50%);
}
#etchButton {
  position: relative;
  top: -20px;
  left: 20%;
  z-index: 10px;
  padding: 5px 10px;
  transform: translateX(-50%);
}
